.header{
	font-size: 46px;
	width: 100%;
	height: auto;
}
.navigation {
font-size: 10px;
width:25%;
float: left;
}
.contain{
	width: 100%;
	height: 80vh;
	background-color: grey;
}

.content {
	font-size: 14px;
	width: 50%;	
	float: left;
}

.sidebar{
	font-size: 10px;
	width: 25%;
	height: 100%;
	float: left;	
}

.footer{
	font-size:10px;
	width: 100%;	
	height: 10vh;
}

h1{
	margin: 0px;
}

*[class$=r] {
	background-color: magenta;
}

/* *[class*=a]:not*[class$=r]{
	background-color: blue;
} */

