


.contimg{
	height: 10%;	
	padding: 10px;
	float: left;
	position: relative;
}

.contimg img {
	width: 100%;
	height: auto;
	margin: 0px;
	
}

.hoverimg{
	position: absolute;
	top: 10px;
	bottom:14px;
	left: 10px;
	right: 10px;
	color: white;
	
	opacity: 0;
}

.hoverimg div {
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top: 60%;
	bottom:0px;
	left: 0px;
	right: 0px;
}

.hoverimg:hover{
	opacity: 1;
}

h2{
	margin: 0px;
}

h1{
	text-align: center;
}

.entera{
	width: 100%;

}
.mitad{
	width: 50%;
	float: left;

}
.tercio{
	width: 33.33%;
	float: left;

}
.cuarto{
	width: 25%;
	float: left;

}

@media screen and (max-width: 480px){

	.entera, .mitad, .tercio, .cuarto{
		width: 98%;
		margin: 5px;
	} 

.hoverimg div {
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top: 0px;
	bottom:0px;
	left: 0px;
	right: 0px;
}
}

@media screen and (min-width: 480px) and (max-width: 980px){

	.entera, .mitad, .tercio, .cuarto{
		width: 48%;
		margin: 5px%;
	} 
}

